.lead__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  max-width: 640px;
  padding: 0;
  margin: 32px 0 0 0;
}

@media screen and (max-width: 999px) {
  .lead__subtitle {
    font-size: calc((100vw - 320px) / (999 - 665) * (30 - 16) + 16px);
  }
}

@media screen and (max-width: 665px) {

  .lead__subtitle {
    font-size: 16px;
    line-height: 125%;
    margin: 16px 0 0 0;
  }
}