.cover {
  background-color: #2A2C2F;
  margin: 92px auto 0 auto;
  /*padding: 92px 48px 0 48px;*/
  max-width: 1184px;
  position: relative;
}

.cover::before {
  content: "";
  display: block;
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  transition: opacity 0.6s;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 999px) {

  .cover {
    margin: 90px auto 0 auto;
  }
}

@media screen and (max-width: 665px) {

  .cover {
    margin: 66px auto 0 auto;
  }
}