.lead__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  max-width: 984px;
}

@media screen and (max-width: 1100px) {

  .lead__container {
    max-width: 928px;
  }
}